HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src_test/**/build/

### VS Code ###
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Generator output directories
generated_output/
generated_utente_module/
generated_fornecedor_module/
